/* LAYOUT */

body {
  color: white;
	background: #242629 ;
  font-size: 150%;
  line-height: 1.5;
  max-width: 800px;
  padding: 1rem;
  margin: 0 auto;
}

.content {
  margin-bottom: 2rem;
}

/* NAVIGATION */

.site-nav {
  display: flex;
}

/* for all remainning links */
a {
  /* color: chocolate; */
  color: #db5793;
  text-decoration: underline;
}

.site-nav a {
  text-align: center;
  display: block;
  padding: 1rem;
}

/* webpage title along the navbar*/
.site-nav .logo {
  color: #db5793;
  text-decoration: none;
  font-weight: bold;
  padding-left: 0;
}


/*links for menu items on the navbar*/
.site-nav .main-menu a {
  color: #db5793;
  text-decoration: none ;
}

/*for menu items on the navbar*/
.main-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 48rem) {
  .site-nav,
  .main-menu {
    flex-direction: column;
  }

  .site-nav a {
    padding: 0.5rem;
    padding-left: 0;
  }
}

/* LISTS */

.post-snippet {
  margin-bottom: 1rem;
}

.post-snippet h3 {
  margin-bottom: 0.25rem;
}

#prevart {
  float: left;
  text-align: left;
}

#nextart {
  float: right;
  text-align: right;
}

footer {
  text-align: center;
}


